/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  height: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.container{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 30px 0 0 0;
  gap: 20px;
  height: calc(100vh - 30px);
  width: 100%;
  background: #F0DB4F;
}

.alert{
  font-size: 38px;
  font-weight: 500;
  color: #323330;
}

.container__shop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 100vh;
  gap: 5px;
}
.shop{
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px 0;
  width: 100%;
  max-width: 100vh;
  gap: 5px;
}
.categories,
.products,
.product-details {
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #323330;
  border-radius: 5px;
  padding: 10px;
  width: 30%;
  overflow-y: auto;
}
.product-details{
  display: flex;
  flex-direction: column;

}
.categories > button,
.products > button {
  color: #F0DB4F;
  background: #323330;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.categories > button:hover,
.products > button:hover {
  background: #F0DB4F;
  color: #323330;
  border: 1px solid #323330;
}

.product-details h2 {
  margin-top: 0;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.product-details p {
  margin-bottom: 15px;
}

.product-details button,
.btn{
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.product-details button:hover,
.btn:hover {
  background-color: #45a049;
}
.form{
  display: flex;
  flex-direction: column;
  padding: 35px; 
  background: #323330;
  border-radius: 20px;
  gap: 15px;
}
.form__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  /* width: 100%; */
  gap: 5px;
}
.form__item label{
  font-size: 12px;
  color: #F0DB4F;
  font-weight: 300;
}
.form__item input,
.form__item textarea{
  display: flex;
  width: calc(100% - 20px);
  padding: 5px 10px;
}
.message{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hide{
  width: 0;
  opacity: 0;
}