<form id="orderForm" class="form">
  <div class="form__item">
    <label for="buyerName">ПІБ покупця*</label>
    <input type="text" id="buyerName">
  </div>
  <div class="form__item">
    <label for="city">Місто*</label>
    <input type="text" id="city">
  </div>
  <div class="form__item">
    <label for="newPostOffice">Склад Нової пошти*</label>
    <input type="text" id="newPostOffice">
  </div>
  <div class="form__item">
    <label for="productQuantity">Кількість*</label>
    <input type="number" id="productQuantity" value="1">
  </div>
  <div class="form__item">
    <label for="orderComments">Коментар до замовлення</label>
    <textarea id="orderComments" ></textarea>
  </div>
  <div class="form__item">
    <button type="submit" class="btn">Підтвердити замовлення</button>
  </div>
</form>